Django==1.4.3
psycopg2==2.4.6
South==0.7.6
django-email-as-username==1.6.2
django-extensions==0.9
ipython==0.13
twilio==3.4.1
ipdb
ipdbplugin
django-nose==1.1
dj-database-url==0.2.1
django-waffle==0.9.0