Django==1.5
psycopg2==2.4.6
South==0.7.6
django-extensions==0.9
ipython==0.13
twilio==3.4.1
ipdb
ipdbplugin
django-nose==1.1
dj-database-url==0.2.1
django-waffle==0.9.1
#correct local flavor, but not updated for now to support south
#git+git://github.com/django/django-localflavor-us.git#egg=django-localflavor-us
git+git://github.com/ianawilson/django-localflavor-us.git#egg=django-localflavor-us
django-jinja
pygments