<!DOCTYPE html> 
<html>
<head>
    <title>{% block title %}Tulsa Food Trucks{% endblock %}</title>
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
    <div data-role="page" data-add-back-btn="true" data-back-btn-text="back">
        <div data-role="panel" id="main-panel" data-position="right" data-display="reveal">
            <div class="ui-panel-inner">
                <ul data-role="listview">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" >Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" data-prefetch>Login</a></li>
                    <li><a href="{% url 'register' %}" data-prefetch>Register</a></li>
                    {% endif %}
                    <li data-role="list-divider">Trucks by Cuisine</li>
                    {% for cuisine in cuisines %}
                        <li><a href="{{cuisine.get_list_url}}">{{cuisine.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- /panel -->
        {% block page_markup %}
        <div data-role="header" data-id="main-header" data-position="fixed">
            {% block left_header %}
                <a href="#" data-role="button" data-rel="back" data-icon="arrow-l">Back</a>
            {% endblock %}
            <h1 class="ui-title" role="heading" aria-level="1">{% block header_title %}Food Trucks{% endblock %}</h1>
            <a href="#main-panel" class="ui-btn-right" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-corners="true" data-wrapperels="span" title="Menu"></a>
            {# <a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>  #}
        </div>
        <div data-role="content">
            {% block content %}You forgot something&hellip;{% endblock %}
        </div><!-- /content -->
        {% endblock %}
    </div>
<script src="{% url 'wafflejs' %}"></script>
</body>
</html>