{% extends "trucks/company_list.jinja" %}

{% block left_header %}{% endblock %}
{% block header_title %}Tulsa Food Trucks{% endblock %}

{% block content %}
    <h2>Currently active trucks</h2>
    {{super()}}
    {% block list_attr %}{% endblock %}
{% endblock %}