{% extends 'base.jinja' %}

{% block left_header %}{% endblock %}

{% block content %}
<h2>Thanks for registering!</h2>
<p>Only a few more fat kids to push aside before you can stalk your favorite trucks!</p>
<p>This may be awkward, but we need you sto verify your ownership of your email account before you we can let you in. ( we sent you a spanky fresh email with a linky in it )</p>
<p>Also if you entered a phone number you should be receiving a message shortly to confirm that as well.</p>
<a data-role="button" href="{{ url('companies') }}" data-theme="b">View all open trucks</a>
{% endblock content %}